In [27]:
import datetime

In [3]:
myname = "Harishkumar"
_myname = ""

# Snakecase
my_name="Harish"

#camelCase
myName="Harishkumar"

#TitleCase
MyName = "Harish"

In [4]:
print(myname)

Harishkumar

In [8]:
# Data Types
# 1. Primithive Datatyps
# 2. Non-Primithive Datatypes / Scallar data types

In [ ]:
# 1. Primithive Datatyps
#     String
#     Int
#     Float
#     Doubul
#     Bool
#     Date
#     time
#     datetime

In [9]:
# STring
student_name = "Harishkumar"
student_email = "harish@gmail.com"
stu_contact_address="#301, 401-24-2LA, Hyderabad"

# Int
stu_age = 34

#float
stu_height = 5.9

#DOuble
stu_score= 162.256478965556

# Bool
is_active = True
is_valentear=False

In [13]:
print("Name: %s" % student_name)

Name: Harishkumar

In [16]:
print(f"Name: {student_name}")
print(f"Email: {student_email}")

Name: Harishkumar
Email: harish@gmail.com

In [21]:
print(f"Name: {student_name}\nEmail: {student_email}\n\t{student_email}")

Name: Harishkumar
Email: harish@gmail.com
	harish@gmail.com

In [22]:
print("Name: {}, and age{}".format(student_name, stu_age))

Name: Harishkumar, and age34

In [29]:
tday = datetime.datetime.now()

In [30]:
tday

datetime.datetime(2021, 10, 21, 7, 14, 38, 998256)

In [31]:
str(tday)

'2021-10-21 07:14:38.998256'

In [32]:
dob = "1987-9-2"

In [33]:
type(dob)

str

In [34]:
dt_dob = datetime.datetime(1987,9,2)

In [39]:
dt_dob

datetime.datetime(1987, 9, 2, 0, 0)

In [36]:
str(dt_dob)

'1987-09-02 00:00:00'

In [46]:
y_dob = dt_dob.strftime("%y")
print(y_dob)

87

In [49]:
m_dob = dt_dob.strftime("%mmm")
print(m_dob)

09mm

In [ ]:
Sr.No.	Directives & Description
1	
%A

Full Weekday name

2	
%B

Full Month Name

3	
%d

Day of the month (1 to 31)

4	
%S

Second

5	
%G

4 digit Year, corresponding to ISO week number

6	
%m

Month (1 to 12)

7	
%M

Minute

8	
%T

Current time, equal to %H:%M:%S

9	
%W

Week number of the current year, starting with the first Monday as the first day of the first week

10	
%w

Day of the week as a decimal, Sunday=0

11	
%Y

Year including the century

12	
%Z or %z

Time zone or name or abbreviation

In [50]:
dt_dob.strftime("%B")

'September'

In [51]:
dt_dob.strftime("%B %d, %Y")

'September 02, 1987'

In [54]:
dt_dob.strftime("%M")

'00'

In [56]:
dt_dob.strftime("%z")

''